body {
    height:100%;
    position:relative;
    padding-top:25rem;
    padding-bottom:20rem;
    color:#3d3d3d;
}

h1, h2, h3, h4, h5, h6 {
    color:#136a9b;
}

h1 {
    margin-top: 6rem;
}

.card-title h2 {
  font-size: 2.5rem;
  text-align: center;
}

.title {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color:#fcc914;
}

a:hover {
    color: #36a0ce;
}

.extra-color {
    color: #36a0ce;
}

#projectUpdate {
    display: none;
}

.projects, .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fab {
    margin-top: 3.5rem;
    margin-bottom: 3.55rem;
}

.card {
    width: 350px;
}

.card-skinny {
    width: 250px;
}

.card, .card-skinny {
    margin-bottom: 10rem;
    border: 1px solid #dddddd;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card p, .card-skinny p {
    margin-right: 3rem;
    margin-left: 3rem;

}

.card-icon {
    display: block;
    font-size: 800%;
    text-align: center;
    color: #36a0ce; 
}

#message-status {
    display:none;
}

.hexa, .hexa div {
    margin: 0;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    display:inline-block;
  }
  .hexa {
    width: 325px;
    height: 230px;

  }
  .hexa div {
    width: 100%;
    height: 100%;
  }
  .hexa {
    transform: rotate(-60deg);

  }
  .hex1 {
    transform: rotate(120deg);
  
  }
  .hex2 {
    transform: rotate(-60deg);
  }

.main-header-wrapper {
    display:block;

    clear:both;
}

.main-header {
    display:block;

}

@media (min-width: 880px) {
    .main-header-wrapper {
        display:inline-block;
        position:relative;
    }
    .main-header {
        display:inline-block;
        position:absolute;
        bottom:0px;
  }
}

#about, #contact {
    margin-bottom: 10rem;
}

#social {
    padding-top:1rem;
    padding-bottom:1rem;
    font-size:4rem;
    background-color:#136a9b;
    color:#fcc914;
    text-align:center;
}

#social a:link {
    color:#ffffff;
}

#social a:visited {
    color:#ffffff;
}

#social a:hover {
    color:#fcc914;
}

.footer {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:21rem;
    color:#36a0ce;
    background-color:#3d3d3d;
    text-align:center;
}

.footer p {
    font-size:1.5rem;
    margin-top:3.0rem;
}

p:first-child {
    margin-top:2.5rem;
}

.logo-header {
    margin-top:-20rem;
    margin-left:5rem;
}

.fake-link:hover {
    cursor: pointer;
    color:#36a0ce;
}

.fake-menu-link {
    cursor: pointer;
    color:#ffffff;
}

.fake-menu-link:hover {
    cursor: pointer;
    color:#fcc914;
}

.table-icon {
    display: block;
    font-size: 200%;
    text-align: center;
    color: #36a0ce; 
}

.edit,
.delete {
    color:#9c9c9c;
}

.edit:hover,
.delete:hover {
    cursor: pointer;
    color:#36a0ce;
}

.u-quarter-width {
    width: 25%;
    box-sizing: border-box; 
}

.u-third-width {
    width: 33%;
    box-sizing: border-box; 
}

.u-half-width {
    width: 50%;
    box-sizing: border-box; 
}

.modal {
    position: fixed;
    left: 0rem;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    background-color: rgba(0,0,0,0.65);
    z-index:10000;
}

.modal-inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    max-width: 35rem;
    padding: 1rem 1.5rem;
    position: relative;
    margin: 2em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}

.modal-close-icon {
    position: absolute;
    right: 1.5rem;
}

.modal-content-inner {
    padding-right: 2rem;
}

.modal h4 {
    margin-bottom: 1rem;
}

.modal p {
    margin-bottom: 3rem;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modal button {
    margin-left: 1rem;
}

#front-end {
    width:100%;
    margin:0rem;
    padding:0rem;
}